#Categories{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}

#categories-content{
    display: flex;
    width: 100%;
    justify-content: center;
}

#categories{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 4em;
}

#categories li{
    margin: 0;
    padding: 0;
}

#categories li p{
    margin: .1em;
    padding: 0;
    font-size: 1.5em;
    text-align: start;
    cursor: pointer;
}

#subCategories{
    width: 100%;
}

#subCategories ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define 3 columnas de igual ancho */
    grid-gap: 10px; /* Espacio entre las celdas */
}

#subCategories ul li{
    border: 1px solid #000; /* 1px de ancho, sólido y color negro (#000) */
    margin: 5px; /* Espacio exterior para separar los divs */
    padding: 10px; /* Espacio interior para el contenido del div */
    cursor: pointer;
}