#UlCategories ul li{
    padding: .1em;
    border: .1em solid #333;
    border-radius: .5em;
    color: white;
}

#UlCategories ul li:hover{
    background-color: rgb(255, 255, 255);
    color:black
}