.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Espaciado interior para separar el contenido del borde */
    border-radius: 10px;
    /* Redondear los bordes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
}