.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Espaciado interior para separar el contenido del borde */
    border-radius: 10px;
    /* Redondear los bordes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
}

#search-home {
    border-radius: 10px;
    background-color: rgba(12, 54, 0, 0.333);
    /* Redondea los bordes del elemento */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    /* Propiedad box-shadow */
    margin-bottom: 1em;
    padding: 10px;
}

.formHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* Espaciado inferior para separar el formulario de los elementos siguientes */
}

.inputSearch {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    /* Espaciado inferior para separar el input del botón */
}

li {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.link-popular-gif:hover {
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.506);
}

button {
    padding: .5em .5em;
    background-color: #007BFF;
    /* Color de botón */
    color: #fff;
    /* Color de texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: .2em;
}

button:hover {
    background-color: #0056b3;
    /* Cambio de color al pasar el mouse */
}

/* Estilos adicionales para la lista de elementos */
ul {
    list-style: none;
    padding: 0;
    display: flex;
    /* Mostrar elementos como una fila flexible */
    flex-wrap: wrap;
    /* Permitir el ajuste de elementos en filas adicionales si no caben en una sola fila */
}

li {
    /* Hacer que todos los elementos ocupen el mismo espacio */
    margin-right: 10px;
    /* Espacio entre elementos */
    /* Color de fondo para los elementos */
    padding: 10px;
    /* Espaciado interior para separar el contenido del borde */
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
}

/* Añadir un margen derecho a todos los elementos excepto al último para evitar que se superpongan */
li:last-child {
    margin-right: 0;
}

#tr-home{
    min-width: 80%;
    max-width: 81%;
    display: flex;
    flex-direction: column;
}

#tr-home h1{
    text-align: start;
    margin: 0;
}

#art-home{
    min-width: 80%;
    max-width: 81%;
    display: flex;
    flex-direction: column;
}

#art-home h1{
    text-align: start;
    margin: 0;

}