#Trending {
    height: auto;
/*     min-width: 80%;
    max-width: 81%; */
    overflow: hidden;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.178), rgba(0, 0, 255, 0.315), rgba(1, 2, 19, 0.295), rgb(0, 0, 0));
    border-radius: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
    padding: 1em;
}

#Trending a {
    padding: 0;
    margin: .3em;
}

#Trending ul {
    height: 100%;
    display: flex;
}

#Trending li {

    height: 100%;
}

#Trending img {
    height: 15vh;
    width: auto;
}

#trending-cont {
    display: flex;
    width: 100%;
    height: 100%;
}