.Gif img {
    object-fit: contain;
    width: 100%;
}

.Gif h4 {
    margin: 0;
}

.Gif{
    width: 20%;
   /*  width: calc(33.33% - 10px); */
    /* Ancho de los elementos, con espacio entre ellos */
    /* Espacio entre filas de elementos */
    background-color: #2d4f0c46;
    box-sizing: border-box;
    /* Incluye el relleno en el ancho del elemento */
}