@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(to bottom, #1900ff6b, #000263b2);
  /* 
      El gradiente va de arriba hacia abajo (to bottom).
      #000000 es el color negro.
      #00FF00 es el color verde.
    */
  background-size: cover;
  /* Ajusta el tamaño del fondo para cubrir todo el viewport */
  background-attachment: fixed;
  /* Fija el fondo para que no se desplace con el contenido */
}


.fade-in {
  opacity: 0;
  /* Empieza con opacidad 0 para ocultar el componente */
  animation: fadeIn 0.9s ease-in forwards;
  /* Animación de fundido */
}

@keyframes fadeIn {
  to {
    opacity: 1;
    /* Llega a una opacidad de 1 para mostrar el componente */
  }
}

/* Definir la animación fade-out */
@keyframes fadeOut {
  from {
    opacity: 1;
    /* Empieza con opacidad 1 para mostrar el componente */
  }
  to {
    opacity: 0;
    /* Llega a una opacidad de 0 para ocultar el componente */
  }
}

/* Clase para aplicar la animación fade-out */
.fade-out {
  animation: fadeOut 0.9s ease-in forwards;
}