#Artists {
    display: flex;
    flex-direction: column;
    overflow: hidden;

/*     min-width: 80%;
    max-width: 81%; */
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.178), rgba(0, 0, 255, 0.212), green, rgb(0, 0, 0));
    padding: 1em;
    margin-bottom: 1.5em;
}

#artists-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.artists-view {
    margin: 1em;
}

.artists-view img {
    /* width: auto; */
    height: 30vh;
    object-fit: cover;
}

.artists-view h1 {
    margin: 0;
    font-size: 1.3em;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
